main {
	margin:auto;
	max-width: 500px;
	background-color: rgba(0, 0, 0, 0.789);
	color: rgb(210, 210, 210);
	border: 2px solid rgb(0, 0, 0);
}

h1 {
	text-align:  center;
}

fieldset {
	display: inline-block;
	border: none;
}

input { 
	margin: 5px;
	background-color: rgb(161, 161, 161);
}

button {
	margin: auto;
	display:flex;
	text-align: center;
	font-size: 21px;
}